body{
    padding: 50px 0;
    background: #F3F2F7;
}
.font12px {
    font-size: 12px;
}

.font14px {
    font-size: 14px;
}
.bg-secondary {
    background: #F3F2F7;
}

.bg-danger {
    background: #F73C43;
    color: #fff;
}

.bg-primary {
    background: #00AEFF;
    color: #fff;
}

.bg-success {
    background: #AEDE31;
}

.text-secondary {
	color: #DBDBDB;
}

header{
    position: fixed;
    top: 0;
    z-index: 99;
    width: 100%;    
    height: 44px;
    background-color: #fff;
}
h2{
    margin: 0;
    font-size: 18px;
    line-height: 44px;    
    text-align: center;    
}
footer {
	position: fixed;
	bottom: 0;
	left: 0;
    right: 0;
    z-index: 999;
    height: 50px;
	width: 100%;
	overflow: hidden;
	box-sizing: border-box;
	border-top: 2px solid #F3F2F7; 
	background-color: #fff;
}
footer > ul {
	display: flex;
	flex: none;
	width: 100%;
	height: 50px;
	justify-content: space-around;
}

footer > ul >li {
	width: 100%;
	height: 100%;
	text-align: center;
}
footer > ul > li > a {
	display: block;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	text-decoration: none;
	padding-top: 7px;
	color: #000;
}

footer a > div {
	width: 100%;
	height: 100%;
	padding-top: 3px;
	background-size: 24px 21px !important;
}
footer a > div.news {
	background: url(../images/footer/activenews.png) top center no-repeat;
}

footer a > div.schedule {
	background: url(../images/footer/schedule.png) top center no-repeat;
}

footer a > div.word {
	background: url(../images/footer/word.png) top center no-repeat;
}

footer a > div.addressList {

	background: url(../images/footer/address.png) top center no-repeat;
}

footer a > div.my {
	background: url(../images/footer/me.png) top center no-repeat;
}
footer a > div > h4 {
	padding-top: 20px;
	font-weight: 400;
	font-size: 12px;
}
