body {
	background: #fff;
}
.myHome .column i.icon-activeHead {
	background: #5ED1FB url(../images/activeHand.png) center center no-repeat;
	box-shadow: 0px 0px 6px #5ED1FB;
}

.myHome .column  i.icon-activeCollect {
	background: #F73C43 url(../images/activestart.png) center center no-repeat;
	box-shadow: 0px 0px 6px #F73C43;
}

.myHome .column  i.icon-activeSet {
	background: #AFDF2C url(../images/activeSet.png) center center no-repeat;
	box-shadow: 0px 0px 6px #AFDF2C;
}
.myHome .column .icon-my i {
	width: 21px;
	height: 21px;
	border-radius: 6px;
	background-size: 10px 10px; 

}